<a class="btn btn-warning" href="#" data-toggle="modal" data-target="#modal<%= a.id %>" role="button">
  <%= t('.awaiting_response') %>
</a>
<%= a.workflow.timeout_distance %>

<%= render partial: 'access_requests/templates/update_status', locals: {a: a, hide_button: true} %>
