<div class="form-group">
  <label for="exampleFormControlTextarea1">Why you want to cancel you access request?</label>
  <textarea class="form-control" id="responseRemarks<%= a.id %>" rows="4"></textarea>
</div>
