<h1 class="display-3"><%= t '.welcome' %></h1>
<p>
  <%= t '.participant_landing_message' %>
<p>
  <a class="btn btn-primary btn-lg" href="template2.html" role="button"><%= t '.edit_your_profile' %> &raquo;</a>
</p>
