getUrl = window.location;
baseUrl = getUrl.protocol + "//" + getUrl.host;

updateTemplateContentByOrganization = (organization_id) ->
  $.ajax
    url: baseUrl + '/campaigns/' + $('#access_request_campaign_id').val() + '/organizations/' + organization_id + '/template'
    type: 'GET'
    success: (e) ->
      $('#access_request_standard_text').val(e.template)
      $('#textContentStandard').html(e.template)
      CKEDITOR.instances['access_request_final_text'].setData e.template
      return
  return

updateOrganizationsBySector = (sector_id) ->
  $.ajax
    url: baseUrl + '/campaigns/' + $('#access_request_campaign_id').val() + '/organizations/' + sector_id
    type: 'GET'
    success: (e) ->
      $('#access_request_organization_id').children().remove()
      listitems = []
      $.each e, (key, value) ->
        listitems += '<option value="' + value[1] + '">' + value[0] + '</option>'
        return
      $('#access_request_organization_id').append listitems
      if Cookies.get('organization')
        $('#access_request_organization_id').val(Cookies.get('organization'))
        Cookies.remove('organization')
      if listitems.length > 0
        updateTemplateContentByOrganization e[0][1]
      return
  return

$(document).on 'turbolinks:load', ->
  if Cookies.get('organization')
    sector_id = $('#access_request_sector_id option:contains(Others)').val()
    if sector_id
      $('#access_request_sector_id').val(sector_id)
      updateOrganizationsBySector(sector_id)

  last = Cookies.get('active_accordion')
  $("#" + last).addClass("show") if last? and $('#' + last).length

  if $('#textTypeRadioExpanded').is(':checked')
    $('#textContentStandard').hide()
    $('#textContentExpanded').show()

  $('#ar_pdf_preview').on 'click', ->
    $('#ar_pdf_preview').html("<%= I18n.t('access_requests.new.generating_preview_pdf') %>")
    rendered_template = ''
    if ($('#textTypeRadioStandard').is(':checked'))
      rendered_template = $('#textContentStandard').html()
    else if ($('#textTypeRadioExpanded').is(':checked'))
      rendered_template = CKEDITOR.instances['access_request_final_text'].getData()
    oReq = new XMLHttpRequest
    oReq.responseType = 'blob'
    oReq.onload = (e) ->
      file = window.URL.createObjectURL(oReq.response)
      $('#iframe_preview').attr('src', '/pdfjs/web/viewer.html?file=' + file)
      $('#ar_pdf_preview').html("<%= I18n.t('access_requests.new.preview_button') %>")

    oReq.open 'GET', baseUrl + '/access_requests/preview?rendered_template=' + encodeURIComponent(rendered_template)
    oReq.send()
    return

  $('.send_letter_type').on 'change', ->
    access_request_id = $(this).attr('data-ar-id')
    template_type = $(this).val()
    $.ajax
      url: baseUrl + '/access_request/' + access_request_id + '/template/' + template_type
      type: 'GET'
      success: (e) ->
        $('#access_request_standard_text').val(e.template)
        $('#textContentStandard').html(e.template)
        CKEDITOR.instances['custom_text'].setData e.template
        return
    return

  $('#access_request_sector_id').on 'change', ->
    updateOrganizationsBySector(this.value)

  $('#access_request_organization_id').on 'change', ->
    updateTemplateContentByOrganization $(this).val()
    return

  $('#textTypeRadioStandard').on 'change', ->
    if $(this).is(':checked') and $(this).val() == 'standard'
      $('#textContentStandard').show()
      $('#textContentExpanded').hide()
    return

  $('#textTypeRadioExpanded').on 'change', ->
    if $(this).is(':checked') and $(this).val() == 'expanded'
      $('#textContentStandard').hide()
      $('#textContentExpanded').show()
    return

  $("#accordion").on 'shown.bs.collapse', (e) ->
      Cookies.set('active_accordion', e.target.id)
      return

  return
