getUrl = window.location;
baseUrl = getUrl.protocol + "//" + getUrl.host;

updateTemplateContent = (organization_id) ->
  $.ajax
    url: baseUrl + '/campaigns/' + $('#campaign_id').val() + '/organizations/' + organization_id + '/template'
    type: 'GET'
    success: (e) ->
      $('#textContentStandard').html(e.template)
      CKEDITOR.instances['custom_text'].setData e.template
      return
  return

$(document).on 'turbolinks:load', ->

  if $('#textTypeRadioExpanded').is(':checked')
    $('#textContentStandard').hide()
    $('#textContentExpanded').show()

  $('#ar_pdf_preview').on 'click', ->
    $('#ar_pdf_preview').html("<%= I18n.t('access_requests.new.generating_preview_pdf') %>")
    rendered_template = ''
    if ($('#textTypeRadioStandard').is(':checked'))
      rendered_template = $('#textContentStandard').html()
    else if ($('#textTypeRadioExpanded').is(':checked'))
      rendered_template = CKEDITOR.instances['custom_text'].getData()
    oReq = new XMLHttpRequest
    oReq.responseType = 'blob'
    oReq.onload = (e) ->
      file = window.URL.createObjectURL(oReq.response)
      $('#iframe_preview').attr('src', '/pdfjs/web/viewer.html?file=' + file)
      $('#ar_pdf_preview').html("<%= I18n.t('access_requests.new.preview_button') %>")

    oReq.open 'GET', baseUrl + '/access_requests/preview?rendered_template=' + encodeURIComponent(rendered_template)
    oReq.send()
    return

  $('#sector_id').on 'change', ->
    $.ajax
      url: baseUrl + '/campaigns/' + $('#campaign_id').val() + '/organizations/' + $(this).val()
      type: 'GET'
      success: (e) ->
        $('#organization_id').children().remove()
        listitems = []
        $.each e, (key, value) ->
          listitems += '<option value="' + value[1] + '">' + value[0] + '</option>'
          return
        $('#organization_id').append listitems
        if listitems.length > 0
          updateTemplateContent e[0][1]
        return
    return

  $('#organization_id').on 'change', ->
    updateTemplateContent $(this).val()
    return

  $('#textTypeRadioStandard').on 'change', ->
    if $(this).is(':checked') and $(this).val() == 'standard'
      $('#textContentStandard').show()
      $('#textContentExpanded').hide()
    return

  $('#textTypeRadioExpanded').on 'change', ->
    if $(this).is(':checked') and $(this).val() == 'expanded'
      $('#textContentStandard').hide()
      $('#textContentExpanded').show()
    return
  return
