updateTemplateContentByOrganization = (organization_id) ->
  cid = $('#access_request_campaign_id').val()
  url = "/campaigns/#{cid}/organizations/#{organization_id}/template"
  $.ajax url,
    type: 'GET'
    success: (e) ->
      $('#access_request_standard_text').val(e.template)
      $('#textContentStandard').html(e.template)
      CKEDITOR.instances['access_request_final_text'].setData e.template

updateOrganizationsBySector = (sector_id) ->
  cid = $('#access_request_campaign_id').val()
  url = "/campaigns/#{cid}/organizations/#{sector_id}"
  $.ajax url,
    type: 'GET'
    success: (e) ->
      $('#access_request_organization_id').children().remove()
      listitems = []
      $.each e, (key, value) ->
        listitems += '<option value="'+value[1]+'">'+value[0]+'</option>'
        return
      $('#access_request_organization_id').append listitems
      if Cookies.get('organization')
        $('#access_request_organization_id').val(Cookies.get('organization'))
        Cookies.remove('organization')
      if listitems.length > 0
        updateTemplateContentByOrganization e[0][1]

$(document).on 'turbolinks:load', ->
  if Cookies.get('organization')
    sector_id = $('#access_request_sector_id option:contains(Others)').val()
    if sector_id
      $('#access_request_sector_id').val(sector_id)
      updateOrganizationsBySector(sector_id)

  last = Cookies.get('active_accordion')
  $("#" + last).addClass("show") if last? and $('#' + last).length

  if $('#textTypeRadioExpanded').is(':checked')
    $('#textContentStandard').hide()
    $('#textContentExpanded').show()

  $('#ar_pdf_preview').on 'click', ->
    p_preview = "<%= I18n.t('access_requests.new.generating_preview_pdf') %>"
    $('#ar_pdf_preview').html(p_preview)
    rendered = ''
    if ($('#textTypeRadioStandard').is(':checked'))
      rendered = $('#textContentStandard').html()
    else if ($('#textTypeRadioExpanded').is(':checked'))
      rendered = CKEDITOR.instances['access_request_final_text'].getData()
    oReq = new XMLHttpRequest
    oReq.responseType = 'blob'
    oReq.onload = (e) ->
      file = window.URL.createObjectURL(oReq.response)
      $('#iframe_preview').attr('src', '/pdfjs/web/viewer.html?file=' + file)
      preview_btn = "<%= I18n.t('access_requests.new.preview_button') %>"
      $('#ar_pdf_preview').html(preview_btn)
    enc_render = encodeURIComponent(rendered)
    url = "/access_requests/preview?rendered_template=#{enc_render}"
    oReq.open 'GET', url
    oReq.send()

  $('.send_letter_type').on 'change', ->
    ar_id = $(this).attr('data-ar-id')
    temp_type = $(this).val()
    $.ajax
      url: "/access_request/#{ar_id}/template/#{temp_type}"
      type: 'GET'
      success: (e) ->
        $('#access_request_standard_text').val(e.template)
        $('#textContentStandard').html(e.template)
        CKEDITOR.instances['custom_text'].setData e.template

  $('#access_request_sector_id').on 'change', ->
    updateOrganizationsBySector(this.value)

  $('#access_request_organization_id').on 'change', ->
    updateTemplateContentByOrganization $(this).val()

  $('#textTypeRadioStandard').on 'change', ->
    if $(this).is(':checked') and $(this).val() == 'standard'
      $('#textContentStandard').show()
      $('#textContentExpanded').hide()

  $('#textTypeRadioExpanded').on 'change', ->
    if $(this).is(':checked') and $(this).val() == 'expanded'
      $('#textContentStandard').hide()
      $('#textContentExpanded').show()

  $("#accordion").on 'shown.bs.collapse', (e) ->
    Cookies.set('active_accordion', e.target.id)
