loadTemplates = (organization_id) ->
  url = "/access_request/possible_templates/#{organization_id}"
  $.ajax url,
    type: 'GET'
    success: (e) ->
      $('#access_request_template_id').children().remove()
      listitems = []
      $.each e.templates, (key, value) ->
        listitems += "<option value='#{value[0]}'>#{value[1]}</option>"

      $('#access_request_template_id').append listitems
      updateTemplateContentByOrganization organization_id


updateTemplateContentByOrganization = (organization_id) ->
  cid = $('#access_request_campaign_id').val()
  url = "/campaigns/#{cid}/organizations/#{organization_id}/template"
  url = "#{url}/#{$('#access_request_template_id').val()}"

  $.ajax url,
    type: 'GET'
    success: (e) ->
      CKEDITOR.instances['access_request_final_text'].setData e.template

sectorChanged = (sector_id) ->
  cid = $('#access_request_campaign_id').val()
  url = "/campaigns/#{cid}/organizations/#{sector_id}"
  $.ajax url,
    type: 'GET'
    success: (e) ->
      $('#access_request_organization_id').children().remove()
      listitems = []
      $.each e, (key, value) ->
        listitems += '<option value="'+value[1]+'">'+value[0]+'</option>'

      $('#access_request_organization_id').append listitems
      if Cookies.get('organization')
        $('#access_request_organization_id').val(Cookies.get('organization'))
        Cookies.remove('organization')
      if listitems.length > 0
        loadTemplates(e[0][1])
      else
        $('#access_request_template_id').children().remove()

setAccessReqeustMethod = ->
  if $("input[name='access_request[ar_method]']:checked").val() == 'template'
    $('#upload_fields').hide()
    $('#template_fields').show()
    $('#btn_submit_ar').val('<%= I18n.t("access_requests.form.final_button") %>')
  else if $("input[name='access_request[ar_method]']:checked").val() == 'upload'
    $('#upload_fields').show()
    $('#template_fields').hide()
    $('#btn_submit_ar').val('<%= I18n.t("access_requests.form.submit_upload_ar") %>')

$(document).on 'turbolinks:load', ->

  $(".nonselect").on 'click', ->
    $(".multi-collapse.mb-3.collapse.show").attr("class", "collapse multi-collapse mb-3")
    $(".select").attr("class", "nonselect")
    $(this).toggleClass("select")

  setAccessReqeustMethod()

  if Cookies.get('organization')
    sector_id = $('#access_request_sector_id option:contains(Others)').val()
    if sector_id
      $('#access_request_sector_id').val(sector_id)
      sectorChanged(sector_id)

  last = Cookies.get('active_accordion')
  if last? and $('#' + last).length
    $("##{last}").addClass("show")
    ar_id = $("##{last}").attr('data-ar-id')
    $("#triangle_#{ar_id}").toggleClass("select")

  $('#ar_pdf_preview').on 'click', ->
    p_preview = "<%= I18n.t('access_requests.new.generating_preview_pdf') %>"
    $('#ar_pdf_preview').html(p_preview)
    rendered = CKEDITOR.instances['access_request_final_text'].getData()
    oReq = new XMLHttpRequest
    oReq.responseType = 'blob'
    oReq.onload = (e) ->
      file = window.URL.createObjectURL(oReq.response)
      $('#iframe_preview').attr('src', '/pdfjs/web/viewer.html?file=' + file)
      preview_btn = "<%= I18n.t('access_requests.new.preview_button') %>"
      $('#ar_pdf_preview').html(preview_btn)
    enc_render = encodeURIComponent(rendered)
    url = "/access_requests/preview?rendered_template=#{enc_render}"
    oReq.open 'GET', url
    oReq.send()

  $('.event_id_dropdown').on 'change', ->
    $(".dynamic_events").hide()
    event_id = $(this).val()
    ar_id = $(this).attr('data-ar-id')
    $.ajax
      url: "/events/#{event_id}"
      type: 'GET'
      success: (e) ->
        if e.ui_form == '' || e.ui_form == null
          $(".dynamic_events").hide()
          $("#ui_form_#{ar_id}").val('')
        else
          $("##{e.ui_form}_#{ar_id}").show()
          $("#ui_form_#{ar_id}").val(e.ui_form)


  $('.send_communication_type').on 'change', ->
    ar_id = $(this).attr('data-ar-id')
    temp_type = $(this).val()
    $.ajax
      url: "/access_request/#{ar_id}/template/#{temp_type}"
      type: 'GET'
      success: (e) ->
        $('#textContentStandard').html(e.template)
        CKEDITOR.instances['custom_text'].setData e.template

  $('#access_request_sector_id').on 'change', ->
    sectorChanged(this.value)

  $('#access_request_organization_id').on 'change', ->
    updateTemplateContentByOrganization $(this).val()

  $("input[type=radio][name='access_request[ar_method]']").on 'change', ->
    setAccessReqeustMethod()

  $('#access_request_template_id').on 'change', ->
    org_id = $('#access_request_organization_id').val()
    updateTemplateContentByOrganization org_id

  $("#accordion").on 'shown.bs.collapse', (e) ->
    Cookies.set('active_accordion', e.target.id)

  # Bug fix for Safari 11.1 and later:
  # https://github.com/rails/rails/issues/32440
  # https://stackoverflow.com/questions/49614091/safari-11-1-ajax-xhr-form-submission-fails-when-inputtype-file-is-empty/49708973#49708973
  $(".update_status").on 'click', ->
    ar_id = $(this).attr('data-ar-id')
    rr_corr_files = $("#workflow_response_attachment_files_#{ar_id}")
    send_corr_file = $("#workflow_send_attachment_files_#{ar_id}")
    if rr_corr_files != undefined && (rr_corr_files.val() == undefined || rr_corr_files.val() == "")
      rr_corr_files.remove()

    if send_corr_file != undefined && (send_corr_file.val() == undefined || send_corr_file.val() == "")
      send_corr_file.remove()

    return true;
